@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	background: #fae0e0dc;
}

header{
	width: 100%;
}

.navegacion{
	width: 100%;
	margin: 5px auto;
	background: #4e6b8a85;
}

.menu{
	text-align: right;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 15px;
	color: #212020;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #9adaff;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #424242;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #ffffff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

/*enca*/

.encabezado-img{
	background-image: url(img/imagen2.jpg);
	background-size: cover;
	height: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.encabezado-img p{
	font-size: 18px;
}
.encabezado-img h1{
	font-size: 50px;
	padding: 15px 0;
    text-shadow: 3px 8px rgba(34, 34, 34, 0.404);

}

